h3 {
    margin-top: 3em;
}

form {
    margin-top: 2em;
    margin-bottom: 2em;
}

table {
    text-align: center;
    vertical-align: middle;
}

table.signatures, table.signatures td, table.signatures th {
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

table.signatures th:first-child,
table.signatures td:first-child  {
    width: 33%;
}

table.signatures th, table.signatures td {
    max-width: 0;
    width: 66%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


th {
    cursor: pointer;
    text-align: center;
}

th:first-child {
    cursor: unset;
}

ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6em 0 6rem;
}

.sort-icon {
    font-size: 9px;
}

table.user-search-table td.mono {
    font-family: monospace !important;
}

table.user-search-table, table.user-search-table th {
    text-align: left;
}
